Vendor/* linguist-vendored
*/*.framework/* linguist-vendored
FlipcashAPI/Sources/FlipcashAPI/Payments/Generated/** linguist-generated
FlipcashAPI/Sources/FlipcashAPI/Core/Generated/** linguist-generated