## Private assets
Scripts/pull
ci_scripts/ci_post_xcodebuild.sh

## System files
.DS_Store

## Build generated
build/
.build/
DerivedData
Pods

## Various settings
*.pbxuser
!default.pbxuser
xcuserdata

## Other
*.xccheckout
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
