## Private assets
Configurations/secrets.xcconfig
ci_scripts/ci_post_xcodebuild.sh

## System files
.DS_Store

## Build generated
build/
.build/
DerivedData
Pods

## Various settings
*.pbxuser
!default.pbxuser
xcuserdata

## Other
*.xccheckout
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Fastlane
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md

## App Store Connect API Key (never commit)
*.p8
AuthKey*.p8
