<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:cash.getcode.com</string>
		<string>applinks:app.getcode.com</string>
		<string>applinks:sdk.getcode.com</string>
		<string>applinks:test.getcode.com</string>
		<string>applinks:tipcard.getcode.com</string>
		<string>applinks:jump.getcode.com</string>
		<string>webcredentials:cash.getcode.com</string>
		<string>webcredentials:app.getcode.com</string>
		<string>webcredentials:test.getcode.com</string>
		<string>webcredentials:tipcard.getcode.com</string>
		<string>webcredentials:jump.getcode.com</string>
	</array>
</dict>
</plist>
