// secrets.xcconfig
// This file contains dummy configuration values for building the project.
// These values will allow the project to compile but won't work at runtime.
//
// To use real services:
// Replace these dummy values with your actual API keys and credentials.

// Third-party
// --------

MIXPANEL = 00000000000000000000000000000000
BUGSNAG = 00000000000000000000000000000000
KADO = 00000000-0000-0000-0000-000000000000
TWITTER_CLIENT_ID = REPLACE_WITH_YOUR_TWITTER_CLIENT_ID
TWITTER_CLIENT_SECRET = REPLACE_WITH_YOUR_TWITTER_CLIENT_SECRET

// Flipchat
// --------

FLIPCHAT_MIXPANEL = 00000000000000000000000000000000
FLIPCHAT_BUGSNAG = 00000000000000000000000000000000

FLIPCHAT_TWITTER_CLIENT_ID = REPLACE_WITH_YOUR_TWITTER_CLIENT_ID
FLIPCHAT_TWITTER_CLIENT_SECRET = REPLACE_WITH_YOUR_TWITTER_CLIENT_SECRET

// Flipcash
// --------

FLIPCASH_MIXPANEL = 00000000000000000000000000000000
FLIPCASH_BUGSNAG  = 00000000000000000000000000000000
FLIPCASH_COINBASE = 00000000-0000-0000-0000-000000000000

// Lokalise
// --------

LOKALISE_TOKEN = 0000000000000000000000000000000000000000
LOKALISE_PROJECT_ID = 0000000000000000000000.00000000:branch

// Code Google and Firebase
// ------------------------

G_CLIENT_ID = 000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
G_REVERSED_CLIENT_ID = com.googleusercontent.apps.000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
G_API_KEY = AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
G_GCM_SENDER_ID = 000000000000
G_PLIST_VERSION = 1
G_BUNDLE_ID = com.kin.code
G_PROJECT_ID = your-project-id
G_STORAGE_BUCKET = your-project-id.appspot.com
G_IS_ADS_ENABLED = NO
G_IS_ANALYTICS_ENABLED = YES
G_IS_APPINVITE_ENABLED = NO
G_IS_GCM_ENABLED = YES
G_IS_SIGNIN_ENABLED = NO
G_FirebaseAppDelegateProxyEnabled = NO
G_GoogleUtilitiesAppDelegateProxyEnabled = NO
G_GOOGLE_APP_ID = 1:000000000000:ios:xxxxxxxxxxxxxxxxxxxxxxxx

// Flipchat Google and Firebase
// ----------------------------

FCG_API_KEY = AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
FCG_GCM_SENDER_ID = 000000000000
FCG_PLIST_VERSION = 1
FCG_BUNDLE_ID = com.flipchat.app
FCG_PROJECT_ID = flipchat-project-id
FCG_STORAGE_BUCKET = flipchat-project-id.firebasestorage.app
FCG_IS_ADS_ENABLED = NO
FCG_IS_ANALYTICS_ENABLED = YES
FCG_IS_APPINVITE_ENABLED = NO
FCG_IS_GCM_ENABLED = YES
FCG_IS_SIGNIN_ENABLED = NO
FCG_FirebaseAppDelegateProxyEnabled = NO
FCG_GoogleUtilitiesAppDelegateProxyEnabled = NO
FCG_GOOGLE_APP_ID = 1:000000000000:ios:xxxxxxxxxxxxxxxxxxxxxxxx


// Flipcash Google and Firebase
// ----------------------------

FG_API_KEY = AIzaSyAaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQ
FG_GCM_SENDER_ID = 123456789012
FG_PLIST_VERSION = 1
FG_BUNDLE_ID = com.example.myapp
FG_PROJECT_ID = example-project-12345
FG_STORAGE_BUCKET = example-project-12345.firebasestorage.app
FG_IS_ADS_ENABLED = NO
FG_IS_ANALYTICS_ENABLED = YES
FG_IS_APPINVITE_ENABLED = NO
FG_IS_GCM_ENABLED = YES
FG_IS_SIGNIN_ENABLED = NO
FG_FirebaseAppDelegateProxyEnabled = NO
FG_GoogleUtilitiesAppDelegateProxyEnabled = NO
FG_GOOGLE_APP_ID = 1:123456789012:ios:abcdef1234567890abcdef
