<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.flipcash.background.task</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.flipcash.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flipcash</string>
			</array>
		</dict>
	</array>
	<key>SQLiteVersion</key>
	<integer>5</integer>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>$(FLIPCASH_BUGSNAG)</string>
	</dict>
	<key>mixpanel</key>
	<dict>
		<key>apiKey</key>
		<string>$(FLIPCASH_MIXPANEL)</string>
	</dict>
</dict>
</plist>
