<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.flipcash.background.task</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.flipcash.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flipcash</string>
			</array>
		</dict>
	</array>
	<key>SQLiteVersion</key>
	<integer>11</integer>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.flipcash.shortcut.give</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Give</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>banknote</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>flipcash://give</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.flipcash.shortcut.wallet</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Wallet</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>wallet.bifold</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>flipcash://wallet</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.flipcash.shortcut.discover</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Discover</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>binoculars</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>flipcash://discover</string>
			</dict>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>background</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>$(FLIPCASH_BUGSNAG)</string>
	</dict>
	<key>mixpanel</key>
	<dict>
		<key>apiKey</key>
		<string>$(FLIPCASH_MIXPANEL)</string>
	</dict>
	<key>coinbase</key>
	<dict>
		<key>apiKey</key>
		<string>$(FLIPCASH_COINBASE)</string>
	</dict>
</dict>
</plist>
